- name: install stella
  pacman:
    name: stella
  become: yes

- name: install dasm
  kewlfft.aur.aur:
    name: dasm-git

- name: clone atari-playground repository
  git:
    repo: git@github.com:jeremingo/atari-playground.git
    dest: ~/code/atari-playground

